@using NMP.Commons.ViewModels;
@using NMP.Commons.Resources;
@using NMP.Commons.Enums;
@model NMP.Commons.ViewModels.FieldViewModel

@{
    ViewData["Title"] = (Model != null && !string.IsNullOrEmpty(Model.EncryptedIsUpdate)) ? $"{Resource.lblAreYouSureYouWantToCancel} {Resource.lblHyphen} {Resource.lblUpdateField}" : $"{Resource.lblAreYouSureYouWantToCancel} {Resource.lblHyphen} {Resource.lblAddField}";
    var cancelViewModel = new CancelViewModel
            {
        IsCancel = Model.IsCancel,
                LableContent = string.Format(Resource.lblTheInformationEnteredAboutThisWillBeLost, Resource.lblField.ToLower())
    };
}
@section BeforeContent {
    <govuk-back-link asp-action=@(string.IsNullOrWhiteSpace(Model.EncryptedFieldId)?"CheckAnswer":"UpdateField") asp-controller="Field">@Resource.lblBack</govuk-back-link>

}

<form asp-controller="Field" asp-action="Cancel" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/Field/_FieldWizardHiddenFields.cshtml", Model)
    @await Html.PartialAsync("~/views/shared/_cancelconfirmation.cshtml", cancelViewModel)
    <govuk-button type="submit" class="margin-bottom-forty">
        @Resource.lblContinue
    </govuk-button>
</form>
<p class="govuk-body cancel-link">
    <a asp-action=@(string.IsNullOrWhiteSpace(Model.EncryptedFieldId)?"CheckAnswer":"UpdateField") asp-controller="Field">@Resource.lblCancel</a>
</p>