@using NMP.Commons.ViewModels;
@using NMP.Commons.Resources;
@model NMP.Commons.ViewModels.OrganicManureViewModel

@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedOrgManureId)) ? Resource.lblUpdateOrganicManure : Resource.lblAddOrganicManure;
    ViewData["Title"] = $"{string.Format(Resource.lblTheInformationEnteredAboutThisWillBeLost, Resource.lblOrganicManureApplications.ToLower())} {Resource.lblHyphen} {title}";

    var cancelViewModel = new CancelViewModel
    {
        IsCancel = Model.IsCancel,
        LableContent = string.Format(Resource.lblTheInformationEnteredAboutThisWillBeLost, Resource.lblOrganicManureApplications.ToLower())
    };
}
@section BeforeContent {
    <govuk-back-link asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblBack</govuk-back-link>

}

<form asp-controller="OrganicManure" asp-action="Cancel" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/OrganicManure/_OrganicManureWizardHiddenFields.cshtml", Model)
    @await Html.PartialAsync("~/views/shared/_cancelconfirmation.cshtml", cancelViewModel)
    <govuk-button type="submit" class="margin-bottom-forty">
        @Resource.lblContinue
    </govuk-button>
</form>
<p class="govuk-body cancel-link">
    <a asp-action="CheckAnswer" asp-controller="OrganicManure">@Resource.lblCancel</a>
</p>