@using NMP.Commons.Resources;
@{
    ViewData["Title"] = Resource.lblMannerHubPage;
}

 <govuk-notification-banner>
                    <govuk-notification-banner-title>
                        @Resource.lblImportant
                    </govuk-notification-banner-title>
                    <p class="govuk-body">Page is in Under construction.</p>
</govuk-notification-banner>