.govuk-scrollable-pane {
    overflow-x: scroll;
    background: linear-gradient(to right, white, white, rgba(255, 255, 255, 0) calc(var(0.75em) * 2)),radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0)),linear-gradient(to left, white, white, rgba(255, 255, 255, 0) calc(var(0.75em) * 2)),radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0)) 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: local,scroll,local,scroll;
    background-size: 100% 100%,.75em 100%,100% 100%,.75em 100%
}

@media(max-width: 63.75em) {
    .govuk-scrollable-pane .govuk-table__header, .govuk-scrollable-pane .govuk-table__cell {
        white-space: nowrap
    }
}
