@using NMP.Commons.Resources;
@{
    ViewData["Title"] = Resource.lblTermsOfUse;
}

@section BeforeContent {
    <govuk-back-link asp-action="Index" asp-controller="Home">@Resource.lblBack</govuk-back-link>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_TermsOfUsePartial.cshtml" />
    </div>
</div>
