@using NMP.Portal.Resources


<div class="text-center">

    <p class="govuk-body margin-bottom-forty"><a asp-action="ManualAddress" asp-controller="Farm">@Resource.lblEnterAddressManually</a></p>
</div>