@using NMP.Commons.ViewModels;
@using NMP.Commons.Resources;
@model NMP.Commons.ViewModels.FarmViewModel
@{
    ViewData["Title"] = (Model != null && !string.IsNullOrEmpty(Model.EncryptedIsUpdate)) ? $"{Resource.lblAreYouSureYouWantToCancel} {Resource.lblHyphen} {string.Format(Resource.lblUpdateFarm, Resource.lblFarm.ToLower())}" : $"{Resource.lblAreYouSureYouWantToCancel} {Resource.lblHyphen} {Resource.lblAddAFarm}";
    var cancelViewModel = new CancelViewModel
    {
        IsCancel = Model.IsCancel,
        LableContent = string.Format(Resource.lblTheInformationEnteredAboutThisWillBeLost, Resource.lblFarm.ToLower())
    };
}
@section BeforeContent {
    <govuk-back-link asp-action="CheckAnswer" asp-controller="Farm">@Resource.lblBack</govuk-back-link>

}

<form asp-controller="Farm" asp-action="Cancel" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/Farm/_FarmWizardHiddenFields.cshtml", Model)
    @await Html.PartialAsync("~/views/shared/_cancelconfirmation.cshtml", cancelViewModel)
    <govuk-button type="submit" class="margin-bottom-forty">
        @Resource.lblContinue
    </govuk-button>
</form>
<p class="govuk-body cancel-link">
    <a asp-action="CheckAnswer" asp-controller="Farm">@Resource.lblCancel</a>
</p>