@using NMP.Commons.ViewModels;
@using NMP.Commons.Resources;
@using System.Text
@model NMP.Commons.ViewModels.PlanViewModel

@{

    string title = (!string.IsNullOrEmpty(Model.EncryptedIsCropUpdate)) ? Resource.lblUpdatePlan : Resource.lblCreatePlan;
    ViewData["Title"] = $"{Resource.lblCancel} {Resource.lblHyphen} {title}";


    var cancelViewModel = new CancelViewModel
    {
        IsCancel = Model.IsCancel,
        LableContent = string.Format(Resource.lblTheInformationEnteredAboutThisWillBeLost, Resource.lblCrop.ToLower())
    };
}
@section BeforeContent {
        <govuk-back-link asp-action="CheckAnswer" asp-controller="Crop">@Resource.lblBack</govuk-back-link>
 

}

<form asp-controller="Crop" asp-action="Cancel" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/Crop/_CropWizardHiddenFields.cshtml", Model)
    @await Html.PartialAsync("~/views/shared/_cancelconfirmation.cshtml", cancelViewModel)
    <govuk-button type="submit" class="margin-bottom-forty">
        @Resource.lblContinue
    </govuk-button>
</form>
<p class="govuk-body cancel-link">
        <a asp-action="CheckAnswer" asp-controller="Crop">@Resource.lblCancel</a>
   
</p>