@using NMP.Commons.ViewModels;
@using NMP.Commons.Resources;
@model NMP.Commons.ViewModels.FertiliserManureViewModel

@{
    string title = (!string.IsNullOrEmpty(Model.EncryptedFertId)) ? Resource.lblUpdateInorganicFeriliser : Resource.lblAddInorganicFeriliser;
    ViewData["Title"] = $"{string.Format(Resource.lblTheInformationEnteredAboutThisWillBeLost, Resource.lblFertiliserApplication.ToLower())} {Resource.lblHyphen} {title}";
    var cancelViewModel = new CancelViewModel
            {
                IsCancel = Model.IsCancel,
                LableContent = string.Format(Resource.lblTheInformationEnteredAboutThisWillBeLost, Resource.lblFertiliserApplication.ToLower())
            };
}
@section BeforeContent {
    <govuk-back-link asp-action="CheckAnswer" asp-controller="FertiliserManure">@Resource.lblBack</govuk-back-link>

}

<form asp-controller="FertiliserManure" asp-action="Cancel" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/FertiliserManure/_FertiliserWizardHiddenFields.cshtml", Model)
    @await Html.PartialAsync("~/views/shared/_cancelconfirmation.cshtml", cancelViewModel)
    <govuk-button type="submit" class="margin-bottom-forty">
        @Resource.lblContinue
    </govuk-button>
</form>
<p class="govuk-body cancel-link">
    <a asp-action="CheckAnswer" asp-controller="FertiliserManure">@Resource.lblCancel</a>
</p>