@using NMP.Commons.Resources


<div id="loading-overlay" class="loading-overlay" role="alert" aria-live="assertive">
    <div class="loading-content">
        @* <span class="govuk-visually-hidden">@Resource.lblLoadingOverlayContentOne</span> *@
        <div class="loading-spinner" aria-hidden="true"></div>
        <p class="govuk-body">@Resource.lblLoadingOverlayContentTwo</p>
    </div>
</div>
