@model ErrorViewModel
@{
    ViewData["Title"] = Model.Message;
}

@* <h1 class="text-danger">@ViewData["Title"]</h1> *@
<govuk-error-summary>
    <govuk-error-summary-item href="#">@Model.Message</govuk-error-summary-item>
</govuk-error-summary>


