@using NMP.Portal.Resources
@model ErrorViewModel
@{
    ViewData["Title"] = Model.Message;
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-body">
            <h1 class="govuk-heading-xl">
                <strong>
                    @Resource.lblTechnicalDifficulties
                </strong>
            </h1>
            <p>@Html.Raw(string.Format(Resource.lblReportError, Model.Code))</p>
        </div>
    </div>
</div>

