@using NMP.Commons.Resources
@model NMP.Commons.ViewModels.ReportViewModel
<div class="govuk-grid-row margin-bottom-forty">
    <div class="govuk-grid-column-full">
        <hr class="seperator_five_report">
        <h4 class="govuk-heading-s">@Resource.lblAboutRecommendationGuidenceAdvice</h4>
        <p class="govuk-body">
            @(Model.FarmRB209CountryID.HasValue&&Model.FarmRB209CountryID.Value==(int)NMP.Commons.Enums.RB209Country.Scotland?Resource.lblAboutRecommendationForScotlandContent1: Resource.lblAboutRecommendationGuidenceAdviceContent1)
        </p>
        <p class="govuk-body">
            @(Model.FarmRB209CountryID.HasValue && Model.FarmRB209CountryID.Value == (int)NMP.Commons.Enums.RB209Country.Scotland ? Resource.lblAboutRecommendationForScotlandContent2 : Resource.lblAboutRecommendationGuidenceAdviceContent2)            
        </p>
        <p class="govuk-body">
            @(Model.FarmRB209CountryID.HasValue && Model.FarmRB209CountryID.Value == (int)NMP.Commons.Enums.RB209Country.Scotland ? Resource.lblAboutRecommendationForScotlandContent3 : Resource.lblAboutRecommendationGuidenceAdviceContent3)
        </p>
    </div>
</div>