@using NMP.Commons.Resources
<div class="govuk-grid-row margin-bottom-forty">
    <div class="govuk-grid-column-full">
        <hr class="seperator_five_report">
        <h4 class="govuk-heading-s">@Resource.lblAboutRecommendationGuidenceAdvice</h4>
        <p class="govuk-body">
            @Resource.lblAboutRecommendationGuidenceAdviceContent1
        </p>
        <p class="govuk-body">
            @Resource.lblAboutRecommendationGuidenceAdviceContent2
        </p>
        <p class="govuk-body">
            @Resource.lblAboutRecommendationGuidenceAdviceContent3
        </p>
    </div>
</div>