@using NMP.Commons.ViewModels;
@using NMP.Commons.Resources;
@model NMP.Commons.ViewModels.ReportViewModel

@{

    var cancelViewModel = new CancelViewModel
            {
                IsCancel = Model.IsCancel,
        LableContent = string.Format(Resource.lblTheInformationEnteredAboutThisWillBeLost, Model.IsLivestockCheckAnswer?Resource.lblLivestockNumbers.ToLower():Resource.lblImportsExports.ToLower())
            };
}
@section BeforeContent {
    <govuk-back-link asp-action=@(Model.IsLivestockCheckAnswer ? "LivestockCheckAnswer" : "LivestockImportExportCheckAnswer") asp-controller="Report">@Resource.lblBack</govuk-back-link>

}

<form asp-controller="Report" asp-action="Cancel" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("~/Views/Report/_ReportWizardHiddenFields.cshtml", Model)
    @await Html.PartialAsync("~/views/shared/_cancelconfirmation.cshtml", cancelViewModel)
    <govuk-button type="submit" class="margin-bottom-forty">
        @Resource.lblContinue
    </govuk-button>
</form>
<p class="govuk-body cancel-link">
        <a asp-action=@(Model.IsLivestockCheckAnswer ? "LivestockCheckAnswer" : "LivestockImportExportCheckAnswer") asp-controller="Report">@Resource.lblCancel</a>
</p>